.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 0.5;
  }
.drawer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: absolute;
    width: 420px;
    height: 100%;
    right: 0;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 30px;
  
    .cartHeadBtn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
    }
  
    h2 {
      margin: 0;
    }
  
    .item {
      flex: 1;
      overflow: auto;
      margin-bottom: 40px;
    }
  
    .cartItem {
      border: 1px solid #f3f3f3;
      border-radius: 20px;
      overflow: hidden;
      display: flex;
      grid-gap: 15px;
      align-items: center;
      padding: 20px;
      margin-bottom: 20px;
  
      .cartItemImg {
        width: 70px;
        height: 70px;
        background-size: contain;
        background-position: 0 10px;
        background-repeat: no-repeat;
        margin-right: 10px;
      }
  
      p {
  
        font-size: 16px;
      }
  
      b {
        font-size: 14px;
      }
    }
  }
  
  .btn_cross {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
  
    :hover {
      opacity: 1;
    }
  }
  
  .cartTotalBlock {
    .cartTotalBlockLi {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
  
      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
      }
    }
  }
  
  .greenButton {
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    position: relative;
  
    img {
      position: absolute;
      right: 30px;
      top: 20px;
    }
  
    // :hover {
    //   background: lighten(#9dd558, 5%);
    // }
  
    // :active {
    //   background: darken(#9dd558, 5%);
    // }
  }